{% extends "../Base.html" %} {% block body_block %} {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/Add_student.css'  %}" />
</head>
<div class="jumbotron">
    <br>
    <strong>

        <h2 style="text-align: center;">Details of Students &nbsp; &nbsp; &nbsp; <a href="{% url 'Teacher_Dashboard' %}"
                class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i>Home</a> </h2>
    </strong>

</div>
<div class="container" style="margin-left: 15%;">


    <table class="table" id="myTable">
        <thead class="grey lighten-2">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">Father's Name</th>
                <th scope="col">Father's Number</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Class</th>
                <th scope="col">Section</th>
            </tr>
        </thead>
        <tbody>
            {% for Student in Student_Details  %}
            <tr>
                <td><img src="{{Student.Photo.url}}" alt="Photo" style="height: 100px;width:100px;border-radius: 20%;">
                </td>
                <td>{{Student.Roll_No}}</td>
                <td>{{Student.Name}}</td>
                <td>{{Student.Father_Name}}</td>
                <td>{{Student.Father_Phone_Number}}</td>
                <td>{{Student.Blood_Group}}</td>
                <td>{{AcademyDetails.Class}}</td>
                <td>{{AcademyDetails.Section}}</td>
            </tr>



            {% endfor %}
        </tbody>
    </table>
</div>


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">


        <ul class="list-unstyled components">
            {% if class_teacher %}
            <li class="active">
                <a href="{% url 'Teacher_module:Add_Notes' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Notes</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Assignment' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Assignment</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Syllabus' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Set Syllabus</a>
            </li>

            <li class="active">
                <a href="{%  url 'Teacher_module:Get_Details' %}" class="btn  btn-simple"><i class="fa fa-upload"
                        aria-hidden="true"></i> &nbsp;Upload Marks </a>
            </li>


            <li class="active">
                <a href="{%  url 'Teacher_module:Show_Info' %}" class="btn  btn-simple"><i class="fa fa-info"
                        aria-hidden="true"></i> &nbsp; Details of Student</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Attendance_Date' %} " class="btn  btn-simple"><i class="fa fa-upload"
                        aria-hidden="true"></i> &nbsp; Upload Attendance
                </a>
            </li>


            {% else %}
            <li class="active">
                <a href="{% url 'Teacher_module:Add_Notes' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Notes</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Assignment' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Assignment</a>
            </li>
            <li class="active">
                <a href="{% url 'Teacher_module:Syllabus' %}" class="btn btn-simple"> <i class="fa fa-file"
                        aria-hidden="true"></i> &nbsp;Set Syllabus</a>
            </li>
            <li class="active">
                <a href="{%  url 'Teacher_module:Get_Details' %}" class="btn  btn-simple"><i class="fa fa-upload"
                        aria-hidden="true"></i> &nbsp;Upload Marks </a>
            </li>


            {% endif %}
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function () {
        console.log($('#myTable'))
        $.noConflict();
        $('#myTable').DataTable();
    });
</script>

{% endblock body_block %}